<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">LATS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href={{url_for('index')}}>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{url_for('logout')}}>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 id="id">{{id}}</h1>
    <h1 id="username">{{username}}</h1>
    <h1 id="location">Connecting ........</h1>
    <div id="map"></div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function(){
          socket.emit('my event', {data: 'I\'m connected!'});
      });

      socket.on('nearest',function(data){
        let min_id=data.id
        let latitude=data.latitude
        let longitude = data.longitude
        let id = document.getElementById("id").innerHTML
        console.log("min"+min_id)
        console.log("current"+id)
        if(Number(id)===Number(min_id)){
          alert(`Help Request Recieved!!\nlatitude : ${latitude},longitude : ${longitude}`)
          document.location = `http://maps.google.com/maps?q=${latitude},${longitude}`
        }
      })
    </script>

    <script>
      const loc = document.querySelector("#location")
      var map;
      var id;
      var marker;


      function initMap() {
        let startPosition = {
          lat : 18.5333,
          lng : 73.8667
        }
        map = new google.maps.Map(document.getElementById('map'), {
          center: startPosition,
          zoom: 8
        });
        marker = new google.maps.Marker({position:startPosition, map: map})
      }

      function error(err) {
      console.warn(`ERROR(${err.code}): ${err.message}`);
      }

      function getLocation(){
        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(locationChange,error,options)
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }


      function locationChange(position){
        console.log("location change callback called")
        console.log(position)
        marker.setPosition({
          lat : position.coords.latitude,
          lng : position.coords.longitude
        })

        fetch('http://localhost:5000/', {
           method: 'post',
           body: JSON.stringify({latitude:position.coords.latitude,longitude:position.coords.longitude})
         }
        )
        .then(response=>response)

        loc.innerHTML = "Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude;
      }

      setInterval(getLocation,10000)

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-4HjNkPkiqz_BgDJNzbZH_JmjfplnAME&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
